body {
    font-family: "Times New Roman", serif;
    background-image: url("../table-tennis.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container-main {
    width: 70%;
    padding: 5px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 16px 14px 9px 15px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    min-width: 450px;
}

.container-tournament {
    display: none;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.container-tournament.hidden {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.container-table {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
}

.container-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    gap: 10px;
}

.container-buttons-navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

button {
    width: content-box;
    height: content-box;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

button:hover {
    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

button.disabled {
    background: #d3d3d3; /* Цвет для неактивной кнопки */
    cursor: not-allowed; /* Указывает, что кнопка неактивна */
}
.delete-button {
    width: content-box;
    height: content-box;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: linear-gradient(0deg, rgb(169, 10, 10) 0%, rgb(227, 13, 13) 100%);
    border: none;
}

.delete-button:hover {
    background: rgb(190, 14, 14);
    background: linear-gradient(0deg, rgb(185, 8, 8) 0%, rgb(241, 14, 14) 100%);
}

.run-button {
    width: content-box;
    height: content-box;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: linear-gradient(0deg, rgb(10, 169, 10) 0%, rgb(13, 227, 13) 100%);
    border: none;
}

.run-button:hover {
    background: rgb(14, 190, 14);
    background: linear-gradient(0deg, rgb(8, 185, 8) 0%, rgb(14, 241, 14) 100%);
}

.arrow-button {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease;
}
.arrow-button:hover:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.arrow-button:hover {
    background-color: #0056b3;
}

.prev-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid white;
    transform: translate(-50%, -50%);
}

.tournament-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;

}

.next-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid white;
    transform: translate(-50%, -50%);
}

.page-title{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto 10px;
}
th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

tbody tr {
    height: 50px;
}

td button {
    margin: 0 auto;
    display: block;
    width: 120px;
}


.container-table::-webkit-scrollbar {
    width: 4px;
}

.container-table::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.container-table::-webkit-scrollbar-thumb {
    background-color: rgba(0, 42, 255, 0.5);
    border-radius: 7px;
    box-shadow: inset 0 0 6px rgba(0, 72, 255, 0.5);
}.timer {
     font-family: 'Arial', sans-serif;
     font-size: 24px;
     font-weight: bold;
     color: #333;
     background-color: #f0f0f0;
     border: 2px solid #4CAF50;
     border-radius: 8px;
     padding: 15px;
     text-align: center;
     display: inline-block;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     margin: 10px;
     transition: background-color 0.3s, color 0.3s;
 }

.timer.finished {
    color: #FF0000;
    background-color: #fff4f4;
    border-color: #FF0000;
}

.timer span {
    display: block;
    font-size: 18px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.timer {
    animation: pulse 1s infinite;
}