@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Общие стили */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://bogatyr.club/uploads/posts/2023-03/1679524685_bogatyr-club-p-nastolnii-tennis-oboi-foni-oboi-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.super-section {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.section {
    max-height: 600px;
    width: 100%;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    background-color: #f2f2f2;
    padding: 1rem;
}

/* Стили для скроллбара */
.section::-webkit-scrollbar {
    width: 20px;
}

.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

/* Стили заголовков */
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0; /* Легкий серый фон для заголовков */
}
/* Стили для форм и кнопок */
form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.2rem;
    color: #000000;
}

.buttons {
    text-align: center;
    padding: 10px;
    width: 100%;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #e13132;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
button:focus {
    background-color: #c12d2d;
    outline: none;
}
.first-place {
    background-color: gold;
    color: black;
}

.second-place {
    background-color: silver;
    color: black;
}

.third-place {
    background-color: #ff9800 ;
    color: black;
}