html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('https://bogatyr.club/uploads/posts/2023-03/1679524685_bogatyr-club-p-nastolnii-tennis-oboi-foni-oboi-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    border: 2px solid #000;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin: auto;
}

h3 {
    text-align: center;
    margin: auto;
}

.main {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 45%;
    height: 90vh; /* Занимает почти всю высоту экрана */
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.mainButtons h2 {
    margin: 0 0 20px;
    font-size: 22px;
    text-align: center;
}

.mainButtons div {
    display: flex;
    justify-content: flex-start; /* Выравнивание всех кнопок влево */
    align-items: center;
}

.mainButtons div button {
    margin-right: 10px; /* Уменьшенное расстояние между левыми кнопками */
}

.adminButton {
    margin-left: auto; /* Отправляет adminButton вправо */
}


.adminButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.adminButton:hover {
    background-color: #45a049;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.tournament {
    flex: 1;
    overflow-y: auto; /* Добавляет вертикальную прокрутку */
}

.tournament h3 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    color: #444;
}

.tournament table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    padding: 20px;
}

.tournament th, .tournament td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tournament th {
    background-color: #f2f2f2;
}

.regOrDenied {
    text-align: left;
    margin: 20px 0;
}

.regOrDenied .reg {
    background-color: #4CAF50; /* Зеленая кнопка */
}

.regOrDenied .denied {
    background-color: #f44336; /* Красная кнопка */
}

.regOrDenied button:hover {
    opacity: 0.8;
}

.removeButton {
    width: 50px;
    text-align: right;
    margin: auto;
}

.removeButton .reg {
    background-color: #4CAF50; /* Зеленая кнопка */
}

.removeButton .denied {
    background-color: #f44336; /* Красная кнопка */
}

.removeButton button:hover {
    opacity: 0.8;
}
