body {
    background-image: url('https://bogatyr.club/uploads/posts/2023-03/1679524685_bogatyr-club-p-nastolnii-tennis-oboi-foni-oboi-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.main {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    max-width: 1000px;
    height: 88%;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.welcome h2 {
    margin: 0 0 20px;
    font-size: 22px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.tournament h3 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    color: #444;
}

.tournament table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tournament th, .tournament td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tournament th {
    background-color: #f2f2f2;
}

.regOrDenied {
    text-align: left;
    margin: 20px 0;
}

.regOrDenied .reg {
    background-color: #4CAF50; /* Зеленая кнопка */
}

.regOrDenied .denied {
    background-color: #f44336; /* Красная кнопка */
}

.regOrDenied button:hover {
    opacity: 0.8;
}

.removeButton {
    width: 50px;
    text-align: right;
    margin: auto;
}

.removeButton .reg {
    background-color: #4CAF50; /* Зеленая кнопка */
}

.removeButton .denied {
    background-color: #f44336; /* Красная кнопка */
}

.removeButton button:hover {
    opacity: 0.8;
}