body {
    font-family: Arial, sans-serif;
    background-color: #f4e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth {
    position: relative;
    text-align: center;
    color: #000000;
}

.form-auth {
    padding: 5%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.2rem;
    color: #000000;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}
.buttons{
    position: relative;

    padding: 10px;
    width: 100%;
}
a{
    position: absolute;
    left: 50%;
    width: 50%;
    padding: 10px;
    font-size: 20px;
}

button {
    position: absolute;
    left: 1%;
    width: 50%;
    padding: 10px;
    background-color: #710606;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b50606;
}
