<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <filter>
        <filter-name>MethodFilter</filter-name>
        <filter-class>filter.MethodFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RootRedirectFilter</filter-name>
        <filter-class>filter.RootRedirectFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ValidateFilter</filter-name>
        <filter-class>filter.ValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>filter.PermissionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadCsrfToken</filter-name>
        <filter-class>filter.csrf.LoadCsrfToken</filter-class>
    </filter>
    <filter>
        <filter-name>ValidateCsrfToken</filter-name>
        <filter-class>filter.csrf.ValidateCsrfToken</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoadCsrfToken</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidateCsrfToken</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RootRedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
